<h1 id="page-heading">my videos</h1>

<div id="video-list">
    <% @videos.each do |video| %>
        <div class="video-box">
            <div style="height: 64px; width: 64px; background-color: #000000; color: #FFFFFF; float: left; margin: 3px;">IMAGE<br>HERE</div>
            <div class="video-box-text">
                <b><%= link_to video.title, video_path(video) %></b></br>
                <%= User.find(video.user_id).email %><br>
                <%= link_to 'Edit', edit_video_path(video) %> |
                <%= link_to 'Delete', video_path(video), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div><br>
    <% end %>
</div>
