// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-heading {
    text-align: center;
}

.video-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    background-color: #A9E2F3;
    height: 70px;
    width: 300px;
}

.video-box-text {
    margin-top: auto;
    margin-bottom: auto;
}
